section.movie-details {
  margin-top: 130px;
  margin-bottom: 64px;
}
section.movie-details .outer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-header {
  width: 976px;
  /* width:100% */
  height: 202px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* padding: 0 8px; */
  column-gap: 20px;
}
.movie-header_movie-poster {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.movie-header_movie-article {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 8px;
}
.movie-header_movie-title {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}
.movie-header_movie-etc {
  margin: 4px 0 0 0;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.movie-header_movie-yaer,
.movie-header_movie-genre {
  margin-right: 4px;
}
.movie-header_movie-genre,
.movie-header_movie-country {
  margin-left: 4px;
}
.movie-header_divide-letter {
  font-weight: 700;
}
.movie-header_movie-average {
  border-top: 1px solid rgb(237, 237, 237);
  border-bottom: 1px solid rgb(237, 237, 237);
  padding: 8px 0;
  margin: 14px 0 0;
}
.movie-header_user-interaction {
  display: flex;
  margin-top: 20px;
}
.movie-header_score-container {
  width: 238px;
  text-align: center;
  margin: 0px 0px;
  border-right: 1px solid rgb(237, 237, 237);
}
.movie-header_score-letter {
  font-size: 12px;
  line-height: 16px;
  color: rgb(120, 120, 120);
  margin: 0;
}
.movie-header_score-btn {
  border: none;
  background: none;
  font-size: 27px;
  padding: 1px 0;
  margin: 0;
}
.movie-header_add-comment {
  border: none;
  background: none;
  margin-left: 32px;
}

.detail-container {
  margin-top: 28px;
  width: 976px;
  /* width: 100% */
  overflow: auto;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 6px;
  padding: 20px;
}
.detail-container_movie-info,
.detail-container_cast {
  border-bottom: 1px solid rgb(237, 237, 237);
}
.detail-container_title {
  margin-top: 0;
}
.detail-container_summary {
  color: rgb(74, 74, 74);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 24px;
  margin: 8px 0px;
}
.detail-container_movie-item {
  margin: 0;
}
.detail-container_divide-letter {
  font-weight: 700;
}
.detail-container_movie-yaer,
.detail-container_movie-genre,
.detail-container_movie-time {
  margin-right: 4px;
}
.detail-container_movie-genre,
.detail-container_movie-country,
.detail-container_movie-age {
  margin-left: 4px;
}
.detail-container_movie-story {
  color: rgb(74, 74, 74);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.detail-container_cast,
.detail-container_comment {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.detail-container_cast-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  /* margin-bottom: 20px; */
}
.detail-container_cast-item {
  height: 82px;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 16px;
}
.detail-container_role {
  color: rgb(140, 140, 140);
  font-size: 14px;
  margin-right: 6px;
}
.detail-container_role-name {
  color: rgb(140, 140, 140);
  font-size: 14px;
  margin-left: 6px;
}
.detail-container_cast-divider {
  color: rgb(140, 140, 140);
}

.detail-container_title-container {
  display: flex;
}
.detail-container_title-container .detail-container_title {
  width: 100px;
}
.detail-container_comment-count {
  width: 65px;
  color: rgb(160, 160, 160);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  margin: 5px 0px 0px 12px;
}
.detail-container_comment-more {
  width: 804px;
  background: none;
  color: rgb(255, 47, 110);
  font-size: 16px;
  text-align: right;
  padding: 0;
  margin: 5px 0px 0px 12px;
}
.detail-container_comment-container {
  display: flex;
  white-space: nowrap;
}
.detail-container_comment-list {
  width: 100%;
}

.detail-container_comment-item {
  display: inline-block;
  width: 285px;
  margin: 0 11px;
  height: 200px;
  background-color: rgb(242, 242, 242);
  padding: 0 12px;
  border-radius: 6px;
}
.detail-container_comment-item-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 12px;
}
.detail-container_user-name {
  width: 179px;
  height: 22px;
  color: rgb(31, 31, 31);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-container_user-score {
  align-items: center;
  background: rgb(255, 255, 255);
  color: rgb(74, 74, 74);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 19px;
  box-sizing: border-box;
  min-width: 55px;
  height: 21px;
  padding: 0px 8px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 13px;
  margin: 0 0px 0px 16px;
}
.detail-container_user-content {
  height: 120px;
  margin-top: 12px;
  display: inline-block;
  white-space: normal;
}

.detail-container_comment .carousel-control {
  top: 54.5%;
}

.detail-container_comment .carousel-control.prev {
  left: -5px;
}

.detail-container_comment .carousel-control.next {
  right: -3.5px;
}
